.App {
  text-align: center;
}

.main-bg{
  height: 300px;
  background-image: url('./eastern-promise.jpg');
  /* 사진의 기준점을 중앙으로 */
  background-position: center;
}

.link {
  padding: 10px;
  color: inherit; /* 기존 텍스트 색상을 유지하거나 원하는 색상으로 설정 */
  text-decoration: none; /* 밑줄 제거 */
  
}

.link:hover {
  color: red; /* 마우스 오버 시 색상 변경 */
}

.start {
  /* 안보이게 */
  opacity : 0;
}
.end {
  /* 0.5초 동안 서서히 보이게 */
  opacity : 1;
  transition : opacity 1.0s;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
